* {
	padding: 0px;
	margin: 0px;
}

body,
html {
	min-height: 100%;
}

html,
input,
button {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #323232;
}

html {
	height: 100%;
}

.hidden {
	display: none !important;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}


/* -----------
   SEARCH BARS
   ----------- */

.search-bar {
	background: #fff;
	display: flex;
	align-items: center;
	border: 1px solid transparent;
	box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
	height: 3rem;
	width: 800px;
	border-radius: 1.5rem;
	z-index: 3;
}

.search-bar:hover {
	box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
	border-color: rgba(223, 225, 229, 0);
}

.search-bar > * {
	padding-left: 1rem;
}

.search-bar > i {
	color: #9aa0a6;
}

.search-bar > input {
	font-size: 1.14rem;
	height: 3rem;
	width: auto;
	background-color: transparent;
	border: none;
	outline: none;
	flex-grow: 1;
}

/* ---------
   HOME PAGE 
   --------- */

.page-home {
	flex-grow: 1;
	flex-wrap: wrap;
}

.page-home-main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-home-main-content > .search-bar {
	width: 600px;
}

.page-home-main-content > img {
	width: 25rem;
	padding-bottom: 2rem;
	padding-top: 15rem;
}

.page-home-main-content-buttons {
	padding-top: 1.5rem;
}

.page-home-main-content-buttons > button {
	background-color: #f0f0f1;
	border: 1px solid #f0f0f1;
	border-radius: 4px;
	color: #3c4043;
	margin: 1rem 0.5rem;
	padding: 0 1rem;
	line-height: 2rem;
	height: 2.5rem;
	min-width: 4rem;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.page-home-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #f2f2f2;
	padding: 0 1.5rem;

	width: calc(100% - 3rem);
	position: absolute;
	bottom: 0;
}

.page-home-footer > * {
	padding: 1rem;
	color: #70757a;
	text-decoration: none;
}

.page-home-footer > a:hover {
	text-decoration: underline;
}

/* -----------
   RESULT PAGE
   ----------- */

.page-results-header > .search-bar {
	margin-left: calc(180px - 3rem);
}

.blocks {
	margin-left: 180px;
	margin-top: 2rem;
	margin-bottom: 20rem;
}

.block {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	max-width: 600px;
}

.block > .block-url {
	color: #202124;
	text-decoration: none;
}

.block > .block-name {
	font-size: 1.5rem;
	color: #1a0dab;
	text-decoration: none;
	padding-top: 5px;
	margin-bottom: 3px;
	
}

.block > .block-name:hover {
	text-decoration: underline;
}

.block > .block-description {
	color: #4d5156;
	line-height: 1.5;
}

.page-results-header {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid #ebebeb;
	justify-content: space-between
}

.page-results-header > img {
	height: 2rem;
	position: absolute;
	padding-left: 2rem;
	cursor: pointer;
}

/* dark mode icon

.page-results-header > i {
	font-size: 2rem;
	color: #5f6368;
	cursor: pointer;
	margin-right: 28px;
} */